html, body {  
    height: 100%;  
    margin: 0;  
    background-color: var(--lumo-contrast-5pct);
}  

body {  
    display: flex;  
    flex-direction: column;  
}  

.header{  
    display: none;  
}

.footer {  
    display: none;  
}  